/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar a {
    font-size: 0.7em;
}

body {
    font-family: Courier New, Courier, monospace;
}

.greenText {
    color: #188e44 !important;
}

.lightBrownBtn {
    background-color: #881b1b3d;
}

.lightBrownBtn:hover {
    background-color: green;
}

.error-bar {
    background-color: red;
    color: white;
    text-align: center;
}