/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar a {
    font-size: 0.7em;
}

body {
    font-family: Courier New, Courier, monospace;
}

.greenText {
    color: #188e44 !important;
}

.lightBrownBtn {
    background-color: #881b1b3d;
}

.lightBrownBtnDisabled, .lightBrownBtnDisabled:hover {
    background-color: lightgray;
    color: #212529;
    cursor: default;
}

.lightBrownBtn:hover {
    background-color: green;
}

.error-bar {
    background-color: red;
    color: white;
    text-align: center;
}

.blink:not(:hover) {
    animation-name: blinking;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: blinking;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinking {
    0% {
        background-color: #881b1b3d;
    }

    50% {
        background-color: green;
    }

    100% {
        background-color: #881b1b3d;
    }
}

@-webkit-keyframes blinking {
    0% {
        background-color: #881b1b3d;
    }

    50% {
        background-color: green;
    }

    100% {
        background-color: #881b1b3d;
    }
}

@keyframes blinking {
    0% {
        background-color: #881b1b3d;
    }

    50% {
        background-color: green;
    }

    100% {
        background-color: #881b1b3d;
    }
}