@{
    ViewBag.Title = "Backtesting con rangos - Resultado";
}

<style>
    table, thead, td {
        border: 1px solid black;
    }

        thead td {
            font-weight: bold;
        }
</style>

<main aria-labelledby="title">
    <h2 id="title">Backtesting con rangos</h2>
    <h4>Resultados</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h5>Configuración de estrategia óptima</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><b>Media móvil (5), longitud:</b> 4</li>
                    <li><b>Media móvil (10), longitud:</b> 11</li>
                    <li><b>Media móvil (20), longitud:</b> 20</li>
                </ul>
            </div>
            <div class="row">
                <h5>Combinaciones probadas</h5>
            </div>
            <div class="col-md-12">
                <table>
                    <thead>
                        <tr>
                            <td>Capital inicial</td>
                            <td>Capital final</td>
                            <td>Ganancia/pérdida</td>
                            <td>Detalles</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>$1000</td>
                            <td>$1113</td>
                            <td style="color:green;">+$113</td>
                            <td><a href="#">Detalle</a></td>
                        </tr>
                        <tr>
                            <td>$1000</td>
                            <td>$1098</td>
                            <td style="color:green;">+$98</td>
                            <td><a href="#">Detalle</a></td>
                        </tr>
                        <tr>
                            <td>$1000</td>
                            <td>$1075</td>
                            <td style="color:green;">+$75</td>
                            <td><a href="#">Detalle</a></td>
                        </tr>
                        <tr>
                            <td>$1000</td>
                            <td>$1056</td>
                            <td style="color:green;">+$56</td>
                            <td><a href="#">Detalle</a></td>
                        </tr>
                        <tr>
                            <td>$1000</td>
                            <td>$1026</td>
                            <td style="color:green;">+$26</td>
                            <td><a href="#">Detalle</a></td>
                        </tr>
                        <tr>
                            <td>$1000</td>
                            <td>$986</td>
                            <td style="color:red;">-$14</td>
                            <td><a href="#">Detalle</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h4>Detalle de prueba</h4>
            </div>
            <div class="row">
                <h5>Configuración</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li><b>Media móvil (5), longitud:</b> 4</li>
                    <li><b>Media móvil (10), longitud:</b> 11</li>
                    <li><b>Media móvil (20), longitud:</b> 20</li>
                </ul>
            </div>
            <div class="row">
                <h5>Cantidad de operaciones realizadas</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>4</li>
                </ul>
            </div>
            <div class="row">
                <h5>Detalle de operaciones</h5>
            </div>
            <div class="col-md-12">
                <table>
                    <thead>
                        <tr>
                            <td>Número de operación</td>
                            <td>Apertura</td>
                            <td>Cierre</td>
                            <td>Capital inicial</td>
                            <td>Capital final</td>
                            <td>Ganancia/pérdida</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1/7/2023 4:55</td>
                            <td>1/7/2023 6:00</td>
                            <td>$1000</td>
                            <td>$1026</td>
                            <td style="color:green;">+$26</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>1/7/2023 8:10</td>
                            <td>1/7/2023 11:35</td>
                            <td>$1026</td>
                            <td>$1069</td>
                            <td style="color:green;">+$43</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>1/7/2023 17:30</td>
                            <td>1/7/2023 19:05</td>
                            <td>$1069</td>
                            <td>$1055</td>
                            <td style="color:red;">-$14</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>1/7/2023 19:25</td>
                            <td>1/7/2023 22:05</td>
                            <td>$1055</td>
                            <td>$1113</td>
                            <td style="color:green;">+$58</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <h5>Capital inicial</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>$1000</li>
                </ul>
            </div>
            <div class="row">
                <h5>Capital final</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>$1113</li>
                </ul>
            </div>
            <div class="row">
                <h5>Porcentaje de ganancias/pérdidas</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>+11.3%</li>
                </ul>
            </div>
            <div class="row">
                <h5>Máximo drawdown</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>-1.31%</li>
                </ul>
            </div>
            <div class="row">
                <h5>Tasa de acierto</h5>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>75%</li>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-top: 0.5rem;">
            <div class="offset-md-8 col-md-4">
                @Html.ActionLink("Volver", "Step1", "BacktestingWithRanges", new { area = "" }, new { @class = "btn btn-outline-dark" })
            </div>
        </div>
    </div>
</main>